[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[packages]
requests = "*"
flask = "*"
"bs4" = "*"
elasticsearch = "*"
geopy = "*"
lxml = "*"

[requires]
python_version = "3.5"

[dev-packages]
